* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ccd;
}

body {
    display: flex;
    justify-content: center;
}

main {
    max-width: 800px;
    padding: 20px 40px;
}

hr {
    border-color: #ccd5;
    margin-bottom: 20px;
}

.horizontal {
    display: flex;
    gap: 16px;
}

h1 {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.social {
    height: 2em;
    fill: #ccd;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card {
    box-shadow: 0 0 20px #0005;
    background-color: #202025;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #ccd2;
    transition: background-color 150ms;
}

.card:hover {
    background-color: #25252a;
}

.card h2, .card p {
    margin: 0;
}

.projheader {
    display: flex;
    width: 100%;
}

.projheader h2 {
    flex-grow: 1;
}

.projheader p {
    color: #ccda;
}

main > p:last-of-type {
    margin-top: 24px;
}

@media (max-width: 480px) {
    .projheader { flex-direction: column; gap: 4px; }
    main { padding: 20px; }
}

